USE [master]
GO
/****** Object:  Database [QuizApplication]    Script Date: 18-Feb-25 17:18:21 ******/
CREATE DATABASE [QuizApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizApplication', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuizApplication.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizApplication_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuizApplication_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizApplication]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 18-Feb-25 17:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[Answer_ID] [uniqueidentifier] NOT NULL,
	[Question_ID] [uniqueidentifier] NOT NULL,
	[AnswerText] [varchar](255) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[Answer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 18-Feb-25 17:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Question_ID] [uniqueidentifier] NOT NULL,
	[Text] [varchar](500) NOT NULL,
	[Category] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Answers] ([Answer_ID], [Question_ID], [AnswerText], [IsCorrect]) VALUES (N'7efb547b-f0e1-4fc0-9c03-00aeb9630033', N'6d2955ad-5604-431c-8fa5-4c2d983c9f6b', N'Anglia', 1)
INSERT [dbo].[Answers] ([Answer_ID], [Question_ID], [AnswerText], [IsCorrect]) VALUES (N'36563165-8c55-408e-8c07-00d47563bfc2', N'4b268770-6681-4eb5-b97f-daf8f2614f49', N'Rugaciunea', 0)
INSERT [dbo].[Answers] ([Answer_ID], [Question_ID], [AnswerText], [IsCorrect]) VALUES (N'9f572b14-6891-4dda-af87-013ceecb30fa', N'98b6d4d9-a3ab-4059-8069-c55fc06e735f', N'Toate variantele', 1)
GO
INSERT [dbo].[Questions] ([Question_ID], [Text], [Category]) VALUES (N'5894708c-4ced-4c8d-be64-01e0cdf8bc5f', N'Ce regina egipteana i-a cucerit pe Iulius Cezar si Marc Antoniu, opunându-se Romei?', N'Istorie')
INSERT [dbo].[Questions] ([Question_ID], [Text], [Category]) VALUES (N'b716bfe6-537d-41bf-a653-03af819d7294', N'Ce grad de rudenie este între Carol al-II-lea si Ferdinand I?', N'Istorie')
INSERT [dbo].[Questions] ([Question_ID], [Text], [Category]) VALUES (N'a3f6a5a2-1715-4b6a-9676-03f028a5b79e', N'Ce pictor olandez a pictat 64 de autoportrete?', N'Arta')
GO
ALTER TABLE [dbo].[Answers] ADD  DEFAULT (newid()) FOR [Answer_ID]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT (newid()) FOR [Question_ID]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions]
GO
USE [master]
GO
